.create-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .create-btn {
        box-sizing: border-box;
        margin-top: 30px;
        width: 400px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: #fff;
        background-color: #4095E5;
        font-size: 24px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background-color: #fff;
            color: #4095E5;
            border: 1px solid #4095E5;
        }
    }
}