.react-resizable-handle {
  visibility: hidden;
}

.react-grid-item:hover .react-resizable-handle {
  visibility: visible;
}

.react-grid-item {
  border: 1px solid #ececec;
  padding: 10px;
  box-sizing: border-box;
}

.react-grid-item:hover .remove {
  display: inline-block;
}

.react-resizable-handle {
  visibility: hidden;
}

.react-grid-item:hover .react-resizable-handle {
  visibility: visible;
}
.remove {
  position: absolute;
  right: 8px;
  top: 7px;
  cursor: pointer;
  z-index: 999;
  display: none;
  font-size: 12px;
}
