.login-container {
  width: 100vw;
  height: 100vh;
  background: url("@/assets/images/bg3.jpeg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  width: 350px;
  height: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(3px);
}
